.footer-bar{
  background-color: #663699 !important;
  padding: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.Image-logo{
  width: 35px;
  height:35px;
}
