.padding {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;    
  font-weight: 600;
}

li a:hover {
  color: #111111;
}
.navbar-nav {
    display: inline;
    margin-left: 40px;
}

.header-color{
  background-color: #663699 !important;
}

header {
    background-color: #663699 !important;
}

.wid-80{
  width: 84% !important;
}

.btn-lang{
  font-size: 12px;
    color: black;
    padding: 8px;
}


