.wid-50{
  width: 50%;
}

.register-button{
	width: 100% !important;
    border-radius: 10px;
    background: #4cae50 !important;
    background-color: #4cae50;
}

.text-red{
  color: red !important;
}

.border-reg{
	border: 2px solid #663699 !important;
    border-radius: 14px;
    padding: 14px;
}

.border-login{
	border: 2px solid #cfcce0 !important;
    border-radius: 6px;
    padding: 14px;
}

.login-button{
	width: 100% !important;
    border-radius: 4px;
    background: #fa676b !important;
    background-color: #fa676b;
}

